<div class="container text-center">
    {{!-- View posts for this user --}}
    <div class="col mb-5">
        {{#each posts as |blogpost|}}
        <section>
            <div class="card border-dark text-center text-bg-light mb-3">
                <div class="card-header">
                    <h3>{{title}}</h3>
                </div>
                <div class="card-body">
                    <p class="card-text">{{ post_text }}</p>
                </div>
                <div class="card-footer bg-transparent border-success">Posted by {{user.username}} on {{format_date
                    created_date}} at {{format_time created_date}}
                </div>
                <div class="card-footer bg-transparent border-success">
                    <a type="button" class="btn btn-outline-danger" href="/api/blogpost/comments/{{id}}">Read comments</a>
                    <a type="button" class="btn btn-outline-danger" href="/blogpost/{{id}}">Update post</a>
                    <button type="button" class="delete-btn btn btn-outline-danger" data-id="{{id}}">Delete post</button>
                </div>
            </div>
        </section>
        {{/each}}
    </div>

    {{!-- Button to create a new post
    <div class="row align-items-center mb-5">
        <div class="col">
            <button type="submit" class="btn btn-primary" id="new-post">New post</button>
        </div>
    </div> --}}

    {{!-- Form to submit a new post --}}
    <div class="new-blogpost-container card text-center text-bg-light mb-3">
        <form class="new-blogpost-form">
            <div class="card-header">
                <h3>New post</h3>
            </div>
            <div class="m-3">
                <label class="form-label" for="title">Title</label>
                <input id="title" class="form-control" name="title">{{title}}
            </div>
            <div class="m-3">
                <label class="form-label" for="post_text">Text</label>
                <textarea id="post_text" class="form-control" name="post_text">{{description}}</textarea>
            </div>
            <button type="submit" class="btn btn-primary mb-3" value="submit">
                Submit
            </button>
        </form>
    </div>
</div>

<script src="/js/add-post.js"></script>
<script src="/js/delete-post.js"></script>
